In [1]:
import pandas as pd

df = pd.read_pickle("data_clean.pkl")
df

      Month                                               Text  Type
0    Feb,20  kuala lumpur tourism art culture ministry focu...  Real
1    Feb,20  kuching sarawak record four new patient invest...  Real
2    Feb,20  johor baru police open investigation paper spr...  Real
3    Feb,20  johor baru malaysian love like red red rise bl...  Real
4    Feb,20  petaling jaya one day least love trump even an...  Real
..      ...                                                ...   ...
885  Nov,20  najib loot rm billion bond epf pas rm billion ...  Fake
886  Nov,20  regret inform kelantan state ministry health t...  Fake
887  Nov,20  due influence majority malaysian face salary p...  Fake
888  Nov,20  oldtown curry noodle restaurant rumor contain ...  Fake
889  Nov,20  peace upon please meet return kuala ketil hall...  Fake

[890 rows x 3 columns]

In [2]:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

# Stop words
stop_words = text.ENGLISH_STOP_WORDS

# Create document-term matrix
def get_n_grams(ngram=1):
    cv = CountVectorizer(stop_words=stop_words, ngram_range=(ngram, ngram))
    data_cv = cv.fit_transform(df.Text)
    dtm = pd.DataFrame(data_cv.toarray(), columns=cv.get_feature_names())
    dtm.index = df.index
    return dtm

In [3]:
unigram_dtm = get_n_grams(1)

C:\Users\munch\anaconda3\envs\nlu\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [4]:
type(unigram_dtm)

pandas.core.frame.DataFrame

In [10]:
import pickle
unigram_dtm.to_pickle("unigram_dtm.pkl")

In [5]:
unigram_dtm

,aa,aakhiruddin,aakhiruddinboy,aaron,aas,abah,abandon,abandoned,abang,abas,...,zoo,zoom,zoonotic,zubir,zuhr,zuki,zulaika,zulfadli,zulkifli,zuraida
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
886,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
887,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
888,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
889,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0